{% extends "base.html" %}
{% block content %}

<div class="columns">
    <div class="column is-3 is-offset-3">

        <h1 class="subtitle">Delete record</h1>
<form class="box" action="" method="post">{% csrf_token %}
    <div class="field">
        <div class="control">
            <p>Are you sure you want to delete "{{ object.id  }}"?</p>
        </div>
    </div>

    <input class="button is-danger" type="submit" value="Confirm Delete record" />
    <a class="button is-success" href="{% url 'record_list'%}"> Cancel </a>
</form>
   
    </div>
</div>


{% endblock content %}


